.procourse-static-pages.customize {
  .current-style{
    margin-left: 20px;
    float: left;
    width: 70%;
  }
}
.procourse-static-pages {
  .help{
    color: #919191;
    padding-top: 3px;
    font-size: 85%;
    line-height: 1.4em;
    margin: 0px 0px 20px 0px;
    font-weight: normal;
  }
  .d-editor-textarea-wrapper{
    min-height:400px;
  }
}
